<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        {% if site.author %}
          <p>
            {{ site.author.name }}<br>
            {% if site.author.email %}
              <a href="mailto:{{ site.author.email }}">{{ site.author.email }}</a>
            {% endif %}
          </p>
        {% endif %}
      </div>

      <div class="footer-col footer-col-2">
        <ul class="contact-list">
          {%- comment -%}
          Site description intentionally removed to avoid showing the project title
          {%- endcomment -%}
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <ul class="social-media-list">
          {% if site.github_username %}
            <li>
              <a href="https://github.com/{{ site.github_username }}">
                <svg class="svg-icon">
                  <use xlink:href="{{ '/assets/minima-social-icons.svg#github' | relative_url }}"></use>
                </svg>
                <span class="username">{{ site.github_username }}</span>
              </a>
            </li>
          {% endif %}
          {% if site.twitter_username %}
            <li>
              <a href="https://twitter.com/{{ site.twitter_username }}">
                <svg class="svg-icon">
                  <use xlink:href="{{ '/assets/minima-social-icons.svg#twitter' | relative_url }}"></use>
                </svg>
                <span class="username">{{ site.twitter_username }}</span>
              </a>
            </li>
          {% endif %}
        </ul>
      </div>
    </div>

  </div>
</footer>
